.newcomp-form {

  width: 90%;
  /* padding: 2% 0 2%; */
  margin: auto;
}
.newcomp-form h2 {
  text-align: center;
  background: #253053;
  /* margin-bottom: 0; */
  padding: 2%;
  color: #ffffff;
  width: 100%;
}
.newcomp-form label {
  text-align: left;
  width: 100%;
  font-family: sans-serif;
  font-weight: 550;
  text-transform: capitalize;
  color: rgb(134, 116, 116);
}

.newcomp-form input {
  text-transform: capitalize;
  margin-bottom: 2%;
}

.form-innerdiv {

  background: #ffffff;

  padding-bottom: 2rem;
}

.form-innerdiv button {
  font-family: "Gill Sans", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #253053;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #ffffff;
  font-size: 14px;
margin-top:20px;
  font-weight: 700;
}

.form-innerdiv button:hover,
.newcomp-form button:active,
.newcomp-form button:focus {
  background: #6c86dd;
}


.main-div{
    width: 500px;
    height: 400px;
    /* background-color: red; */
    
} */
.dropdown {
  /* width: 10%; */
  padding: 10px;
  display: inline-flex;
  flex-wrap: nowrap;
}
.dropdown select {
  width: 20ppx;

  display: inline-block;
}
.dropdown label {
  padding: 10px;
  display: inline-block;
}

.extra {
  display: inline;
}

.extra span {
  padding: 10px;
}

/* .form-select:hover{
  background-color: #253053;
} */