.MuiTableRow-root>*{
    padding: 5px;
}

.MuiTableRow-root.MuiTableRow-head>*{
    font-weight: bold !important;
}

/* .Table td, th{
    margin-bottom: 50rem;
} */

/* .Table:first-child{
    border-radius: 0.7rem !important;
} */

.stage{
    /* background-color: #FA8072; */
    padding:  10px 20px;
    border-radius: 5px ; 
    margin-left: 0;
    color: white
}

.actions{
    margin-right: 0;
    align-items: left;
    float: left;
    
}
.headerRow{
    display: inline-flex;
    float: left;
    gap: 40px;
    padding-bottom: 10px;
}
.Filter-add{
    display: inline-flex;
    margin-left: 25rem;
    float: right;
    margin-right: 0;
    gap : 95px
}

.add-btn{
    margin-top: 10rem;
}
@media screen and (max-width: 1200px){
    .Table{
        margin-top: 2rem;
    }
}